/* MISE EN PAGE DE LA FONT*/
* {
	font-family: 'Pattaya', sans-serif;
}

body {
	/*	height: 2000px;*/
}

.btn {
	text-transform: inherit;
}

/* MISE EN PAGE DE LA NAVBAR */
#acceuil, #blog {
	font-size: 2em;
	margin-left: 25px;
}

/* MISE EN PAGE DU HEADER */

#serv {
	font-size: 2em;
}

#scroll {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.scroll-out {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.contain {
	width: 85%;
	margin: auto;
}

#btnScroll {
	margin: 15px 50px;
}
header {
	margin-top: 2em;
	height: 300px;
}

#header {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

#com> h1 {
	font-size: 2.5em;
}

#com> h2 {
	font-size: 1.8em;
}

.contact {
	display: flex;
	align-items: center;
}

#btnFixe {
	margin-left: 2em;
}

.contact> p {
	font-size: 1.4em;
}

#photo {
	height: 250px;
	width: 250px;
	margin: 25px 25px;
}

/* MISE EN PAGE DU BODY */

#image1 {
	height: 250px;
	width: 250px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#q {
	height: 100%;
	width: 100%;
}

#web {
	margin-top: 2em;
}

#article1, #article2, #article3, #article4, #article5, #article6 {
	text-align: center;
}

#image1, #image2, #image3, #image4, #image5, #image6 {
	border: 2px solid #607d8b;
}

.atout {
	width: 75%;
	margin: auto;
}

#titre1, #titre2 {
	text-align: center;
}

#besoin {
	margin-right: 50px;
}

#btnCont {
	color: #fff;
	padding: 8px 2rem;
	background-color: #4db6ac;
	border-radius: 2px;
	letter-spacing: .5px;
	font-size: 15px;
}

#btnCont2 {
	color: #fff;
}

/* MISE EN PAGE DU FOOTER */

footer {
	margin-top: 2em;
}

#cv> p {
	margin: 0;
}

#coordonne> p {
	margin: 0;
}

#lien> p {
	margin: 0;
}

#cv, #coordonne, #lien {
	text-align: center;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

#info {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* MISE EN PAGE DU FORMULAIRE DE CONTACTE */

#message::-webkit-input-placeholder
{
  color:    #607d8b;
}

#message::-moz-input-placeholder
{
  color:    #607d8b;
}

#message::-ms-input-placeholder
{
  color:    #607d8b;
}

#message::-o-input-placeholder
{
  color:    #607d8b;
}

#telephone::-webkit-input-placeholder
{
  color:    #607d8b;
}

#telephone::-moz-input-placeholder
{
  color:    #607d8b;
}

#telephone::-ms-input-placeholder
{
  color:    #607d8b;
}

#telephone::-o-input-placeholder
{
  color:    #607d8b;
}

#nom::-webkit-input-placeholder
{
  color:    #607d8b;
}

#nom::-moz-input-placeholder
{
  color:    #607d8b;
}

#nom::-ms-input-placeholder
{
  color:    #607d8b;
}

#nom::-o-input-placeholder
{
  color:    #607d8b;
}

#prenom::-webkit-input-placeholder
{
  color:    #607d8b;
}

#prenom::-moz-input-placeholder
{
  color:    #607d8b;
}

#prenom::-ms-input-placeholder
{
  color:    #607d8b;
}

#prenom::-o-input-placeholder
{
  color:    #607d8b;
}

#email::-webkit-input-placeholder
{
  color:    #607d8b;
}

#email::-moz-input-placeholder
{
  color:    #607d8b;
}

#email::-ms-input-placeholder
{
  color:    #607d8b;
}

#email::-o-input-placeholder
{
  color:    #607d8b;
}


#lightbox {
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(59, 59, 59, 0.75);
	display: none;
	z-index: 1000;
}

#lightbox-container {
	width: 25%;
	margin: 25px auto;
	border: 5px solid #607d8b;
	border-radius: 15px;
}

#haut {
	text-align: center;
	border-bottom: 2px solid #ffb74d;
	border-top: 2px solid #ffb74d;
	margin-top: 0.8em;
}

#haut> p {
	font-size: 1.5em;
}

.input-field label {
	color: #000;
}

#annule {
	background-color: #ff1744;
}

/* MISE EN PAGE DU FORMULAIER NO JS */

#lightbox2 {
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(59, 59, 59, 0.75);
}

#lightbox-container2 {
	width: 75%;
	margin: 25px auto;
	border: 5px solid #607d8b;
	border-radius: 15px;
}

#sujet2 {
	display: inherit;
}

.mailSend {
	text-align: center;
	font-size: 1.8em;
	color: #009688;
}

.mailStyle {
	font-size: 1.2em;
	color: #009688;
}

#retour {
	display: flex !important;
	justify-content: flex-end;
	padding: 8px 2rem;
	border-radius: 2px;
	letter-spacing: .5px;
	font-size: 15px;
}

#retour2 {
	color: #607d8b;
}

#annuler {
	color: #fff;
	padding: 8px 2rem;
	background-color: #ff1744;
	border-radius: 2px;
	letter-spacing: .5px;
	font-size: 15px;
}

#place {
	margin-top: 7.5px;
}

/* MISE EN PAGE DU BLOG */

#blogTrav {
	font-size: 1.7em;	
}

#blogCont{
	text-align: center;
}

.contain2 {
    width: 40%;
    margin: auto;
}

/* MISE EN FORME ANIMATION */

#anim{
	display: none;
	position: absolute;
	top: 0;
	left: 30%;
}
.containe {
	position: relative;
	margin: 155px auto;
	width: 200px;
}

svg {
	position: absolute;
}
svg ellipse {
	-webkit-transform-origin: center;
	transform-origin: center;
}
svg:nth-of-type(1) ellipse {
	stroke: #F1725D;
	cx: 25px;
	stroke-width: 3px;
	-webkit-animation: jump 600ms infinite ease-in-out;
	animation: jump 600ms infinite ease-in-out;
	opacity: .7;
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
}
svg:nth-of-type(2) ellipse {
	stroke: #38BDAB;
	cx: 65px;
	stroke-width: 3px;
	-webkit-animation: jump 600ms infinite ease-in-out;
	animation: jump 600ms infinite ease-in-out;
	opacity: .7;
	-webkit-animation-delay: 75ms;
	animation-delay: 75ms;
}
svg:nth-of-type(3) ellipse {
	stroke: #9D30A5;
	cx: 105px;
	stroke-width: 3px;
	-webkit-animation: jump 600ms infinite ease-in-out;
	animation: jump 600ms infinite ease-in-out;
	opacity: .7;
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}
svg:nth-of-type(4) ellipse {
	stroke: #B779E2;
	cx: 145px;
	stroke-width: 3px;
	-webkit-animation: jump 600ms infinite ease-in-out;
	animation: jump 600ms infinite ease-in-out;
	opacity: .7;
	-webkit-animation-delay: 225ms;
	animation-delay: 225ms;
}
svg:nth-of-type(5) ellipse {
	stroke: #683893;
	cx: 185px;
	stroke-width: 3px;
	-webkit-animation: jump 600ms infinite ease-in-out;
	animation: jump 600ms infinite ease-in-out;
	opacity: .7;
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}
svg:nth-of-type(6) ellipse {
	fill: #333333;
	opacity: .05;
	rx: 0;
	ry: 0;
	cx: 25px;
	cy: 48px;
	-webkit-animation: shadow 600ms infinite ease-in-out;
	animation: shadow 600ms infinite ease-in-out;
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
}
svg:nth-of-type(7) ellipse {
	fill: #333333;
	opacity: .05;
	rx: 0;
	ry: 0;
	cx: 65px;
	cy: 48px;
	-webkit-animation: shadow 600ms infinite ease-in-out;
	animation: shadow 600ms infinite ease-in-out;
	-webkit-animation-delay: 75ms;
	animation-delay: 75ms;
}
svg:nth-of-type(8) ellipse {
	fill: #333333;
	opacity: .05;
	rx: 0;
	ry: 0;
	cx: 105px;
	cy: 48px;
	-webkit-animation: shadow 600ms infinite ease-in-out;
	animation: shadow 600ms infinite ease-in-out;
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}
svg:nth-of-type(9) ellipse {
	fill: #333333;
	opacity: .05;
	rx: 0;
	ry: 0;
	cx: 145px;
	cy: 48px;
	-webkit-animation: shadow 600ms infinite ease-in-out;
	animation: shadow 600ms infinite ease-in-out;
	-webkit-animation-delay: 225ms;
	animation-delay: 225ms;
}
svg:nth-of-type(10) ellipse {
	fill: #333333;
	opacity: .05;
	rx: 0;
	ry: 0;
	cx: 185px;
	cy: 48px;
	-webkit-animation: shadow 600ms infinite ease-in-out;
	animation: shadow 600ms infinite ease-in-out;
	-webkit-animation-delay: 300ms;
	animation-delay: 300ms;
}

@-webkit-keyframes jump {
	40% {
		-webkit-transform: translateY(20px) scale(1.3);
		transform: translateY(20px) scale(1.3);
		opacity: .9;
	}
	40% {
		rx: 10px;
		ry: 10px;
		stroke-width: 3px;
	}
	45% {
		rx: 15px;
		ry: 7px;
		stroke-width: 4px;
	}
	55% {
		rx: 10px;
		ry: 10px;
	}
}

@keyframes jump {
	40% {
		-webkit-transform: translateY(20px) scale(1.3);
		transform: translateY(20px) scale(1.3);
		opacity: .9;
	}
	40% {
		rx: 10px;
		ry: 10px;
		stroke-width: 3px;
	}
	45% {
		rx: 15px;
		ry: 7px;
		stroke-width: 4px;
	}
	55% {
		rx: 10px;
		ry: 10px;
	}
}
@-webkit-keyframes shadow {
	45% {
		opacity: .15;
		rx: 10px;
		ry: 3px;
		-webkit-transform: translateY(5px) scale(1.3);
		transform: translateY(5px) scale(1.3);
	}
}
@keyframes shadow {
	45% {
		opacity: .15;
		rx: 10px;
		ry: 3px;
		-webkit-transform: translateY(5px) scale(1.3);
		transform: translateY(5px) scale(1.3);
	}
}

/* MISE EN PAGE RESPONSIVE */

@media screen and (max-width: 1450px){
    
    .contain {
        width: inherit;
    }
    
    .enleve {
        display: none;
    }
    
} 



/* change le display de la div aprés la checkbox */
/* donc affiche ou masque la lightbox */
#lightbox-switch + div {
	display:none;
}

#lightbox-switch:checked + div {
	display:block;
}

.hide-if-no-js {
	display: none;
}

label[for="lightbox-switch"] {
	display: none;
}

.show-if-no-js {
	display: initial !important;
}